
.poiret{
  font-family: 'Poiret One', cursive;
}

.cinzel{
  font-family: 'Cinzel', serif;
}
.raleway{
    font-family: 'Raleway', sans-serif;
}

.titulo{
  font-size: 2.5em;
  color: #A3563C;
}
.tituloIndex{
  font-size: 2.5em;
  color: #E8895B;
}
.subtitulo{
  font-size: 1.5em;
  color: #E8895B;
}
.nomAutor{
  font-size: 1em;
  color:  #546E7A;
}
.centrado{
  text-align: center;
}
.textoBlanco{
  color: white;
}
.tamañoParrafo{
  margin: 0 auto;
  width: auto;
  max-width: 650px;
  text-align: justify;
  color: #D1C39F;

}
.espacioParrafos{
  padding-top: 20px;
}
.imagenes{
  width: 400px;
  display: block;
  margin: 0px auto;
}
.definiciones{
  color: #E8895B;
}
.cambiarEstEnlace{
  text-decoration: none;
}
