.contSecciones ol{
  margin :  0 auto;
  max-width: 850px;
  height: 50px;
}
.contSecciones ol li  {
  margin-left: 0px;
  float: left;
  list-style: none;

}
.contSecciones ol li  a {
  display : block;
  min-width: 200px;
  line-height : 50px;
  text-align : center;
  text-decoration : none;
  color: #D1C39F;
}

.contSecciones ol li a:hover{
  background-color: #7F3B2D;
  color: #E8895B;
}
body{
  background-color: #5E2721;
}
